###  Exercises: Module 5

#### Exercises: Level 1

1. Declare an empty list

In [ ]:
# Empty list declearation
names = [] # empty list

2. Declare a list with more than 5 items

In [ ]:
# List with 5 items and above
names = ['fatima','abu','ada','john','alimamy','ibrahim','mary']

3. Find the length of your list

In [ ]:
# Length of list below
names = ['fatima','abu','ada','john','alimamy','ibrahim','mary']
print(len(names))

6

4. Get the first item, the middle item and the last item of the list

In [4]:
# Accessing names from the list of names
names = ['fatima','abu','ada','john','alimamy','ibrahim','mary']
print(names[0]) # first item
print(names[3]) # middle item
print(names[-1]) # last item

fatima
john
mary

5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address

In [ ]:
# Declearing a list of mixed data types
mixed_data_type = ['john','21 years','6ft','single','21 regent road,lumley']
print(type(mixed_data_type)) # test the data type

<class 'list'>

6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon

In [7]:
# Declearing a List of variable name 'companies'
companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazone']
print(type(companies)) # testing the data type

<class 'list'>

7. Print the list using print()

In [8]:
# print the variable name companies in 6 above
companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazone']
print(companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazone']

8. Print the number of companies in the list

In [9]:
# We print the number of companies in a list using the length built-in function
companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazone']
print(len(companies))

7

9. Print the first, middle and last company

In [11]:
# We can access each company in the variable using index function.
companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazone']
print(companies[0]) # first company
print(companies[3]) # middle company
print(companies[-1]) # Last company

Facebook
Apple
Amazone

10. Print the list after modifying one of the companies

In [17]:
# Modifying one of the companies using index method
companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazone']
new_comp = companies[0] = ('Uber') # replacing facebook with Uber
print(companies)

['Uber', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazone']

11. Add an IT company to it_companies

In [21]:
# Adding new iteam in a list, we use .append()
companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazone']
new_comp = companies.append('SendMe')
print(companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazone', 'SendMe']

12. Insert an IT company in the middle of the companies list

In [34]:
# Adding items in a list at any position using insert method
companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazone']
new_comp = companies.insert(3,'Telegram')
print(companies)

['Facebook', 'Google', 'Microsoft', 'Telegram', 'Apple', 'IBM', 'Oracle', 'Amazone']

13. Change one of the it_companies names to uppercase (IBM excluded!)

In [32]:
# Changing one of the companies name using .upper()
companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazone']
chng_case = companies[2].upper()
print(chng_case)

MICROSOFT

14. Join the it_companies with a string '#;

In [ ]:
#Joining list with strint '#'
companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazone']
outcom = ' # '.join(companies)
print(outcom)

Facebook  Google  Microsoft  Apple  IBM  Oracle  Amazone

15. Check if a certain company exists in the it_companies list

In [44]:
# checking if Google exist in it_companies
companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazone']
if 'Google' in companies:
    print('Google belongs to it_companies.')
else:
    print('Is not part of the it_companies.')

Google belongs to it_companies.

16. Sort the list using sort() method

In [47]:
# sorting list
companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazone']
new_lst = companies.sort()
print(companies)

['Amazone', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

17. Reverse the list in descending order using reverse() method

In [49]:
# Reverse the list in decending order
companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazone']
new_lst = companies.sort(reverse = 'true')
print(companies)

['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazone']

18. Slice out the first 3 companies from the list

In [53]:
# Slicing out the first 3 it_companies
companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazone']
outcome = companies[0:3]
print(outcome)

['Facebook', 'Google', 'Microsoft']

19. Slice out the last 3 companies from the list

In [55]:
# Slicing out the last 3 companies
companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazone']
outcome = companies[4:]
print(outcome)

['IBM', 'Oracle', 'Amazone']

20. Slice out the middle IT company or companies from the list

In [57]:
# Slicing ou the middle IT company from the list
companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazone']
print(companies[3])

Apple

21. Remove the first IT company from the list

In [68]:
# Removing the first IT company crom the list
companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazone']
new_lst = companies.remove('Facebook')
print(companies)

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazone']

22. Remove the middle IT company or companies from the list

In [71]:
# Removing the middle conpany from the list
companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazone']
new_lst = companies.remove('Apple')
print(companies)

['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazone']

23. Remove the last IT company from the list

In [72]:
# Removing the last IT company using pop()
companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazone']
companies.pop()
print(companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

24. Remove all IT companies from the list

In [74]:
# Removing all IT companies from list
companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazone']
companies.clear()
print(companies)

[]

25. Destroy the IT companies list

In [77]:
# Distroying the IT Companies list, we use the delete keywork
companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazone']
del companies

26. Join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']

back_end = ['Node','Express', 'MongoDB']

In [ ]:
# Joining two variables using extend or +
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
languages = front_end + back_end
print(languages)

# Or apply the entend keyword
programes = front_end.extend(back_end)
print(languages)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

In [ ]:
# Copy the joined list and assign to a variable full_stack
full_stack = languages[:] # copy languages. This symbol [:] allows us to make changes on the new variable (full_stack) without affecting the original (language)
new_lan1 = full_stack.insert(5,'python') # insert new languages in full_stack
new_lan2 = full_stack.insert(6,'SQL')     # insert new languages in full_stack
print(full_stack)
print(languages) # the result shows that the original variable remain intact

['HTML', 'CSS', 'JS', 'React', 'Redux', 'python', 'SQL', 'Node', 'Express', 'MongoDB', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB', 'Node', 'Express', 'MongoDB']

### Exercises: Level 2

1. The following is a list of 10 students ages:
   
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

+ Sort the list and find the min and max age
+ Add the min age and the max age again to the list
+ Find the median age (one middle item or two middle items divided by two)
+ Find the average age (sum of all items divided by their number )
+ Find the range of the ages (max minus min)
+ Compare the value of (min - average) and (max - average), use abs() method

In [62]:
# sorting list and obtain minimum and maximum
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()  # Sorted list
print(f'Sorted ages, = {ages}\n')
min(ages)    # minimum age
max(ages)    # maximum age
# median from ages
length = len(ages)
if length % 2 == 0:
    print(f'The length is even when = {length}\n')
    middle_one, middle_two = ages[length//2 - 1] , ages[length//2] # [length//2 - 1] is the index of the last element before the middle
    median = (middle_one + middle_two)/2
    print(f'The median = {median}\n')
else:
    median = ages[length // 2]   # [length//2] is the index of the first element after the middle
    print(f'The median is {median}\n')

# Average age = sum of all element in a list / length of a list
sum_ages = sum(ages)
len_ages = len(ages)
average_age = sum_ages/len(ages)
print(f'The average age is {average_age}\n')

# The range of the ages (max minus min)
age_range = max(ages) - min(ages)
print(f'The range of ages = {age_range}\n')


# Compare the value of (min - average) and (max - average), use abs() method

# vale of (min - average)
value1 = abs(min(ages) - average_age)
print(f' (min - average) = {value1:.1f}\n')

# value of (max - average)
value2 = abs(max(ages) - average_age)
print(f'(max - average) = {value2:.1f}')

Sorted ages, = [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

The length is even when = 10

The median = 24.0

The average age is 22.8

The range of ages = 7

 (min - average) = 3.8

(max - average) = 3.2