### Exercises: Module 6

1. Create an empty dictionary called dog

In [34]:
# Empty dictionary called dog
dog = {}

2. Add name, color, breed, legs, age to the dog dictionary

In [35]:
# adding name, color, breed, leg and age to empty dictionary
dog = {}
dog['name'] = 'buddy'
dog['color'] = 'white'
dog['breed'] = 'golden'
dog['leg'] = 4
dog['age'] = 7
print(dog)

{'name': 'buddy', 'color': 'white', 'breed': 'golden', 'leg': 4, 'age': 7}

3. Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary

In [36]:
student = {
    'first_name' : 'Abdul',
    'last_name' : 'kargbo',
    'gender' : 'male',
    'age' : 26,
    'marital_status' : 'single',
    'skills' : ['java','python','C++','SQL'],
    'country' : 'sierra leone',
    'city' : 'freetown',
    'address' : '7 brass street',

# obtaining key value pairs in dictionary,student
}
for student_infor in student.items():
    print(student_infor)

# obtaining the key of dictionary,student
print('\nThese are the keys: ')
for student_infor in student.keys():
    print(student_infor)

# obtaining the value pair in dictionary, student
for student_infor in student.values():
    print('\nValue pairs:')
    print(student_infor)

('first_name', 'Abdul')
('last_name', 'kargbo')
('gender', 'male')
('age', 26)
('marital_status', 'single')
('skills', ['java', 'python', 'C++', 'SQL'])
('country', 'sierra leone')
('city', 'freetown')
('address', '7 brass street')

These are the keys:
first_name
last_name
gender
age
marital_status
skills
country
city
address

Value pairs:
Abdul

Value pairs:
kargbo

Value pairs:
male

Value pairs:
26

Value pairs:
single

Value pairs:
['java', 'python', 'C++', 'SQL']

Value pairs:
sierra leone

Value pairs:
freetown

Value pairs:
7 brass street

4. Get the length of the student dictionary

In [37]:
# Length of student dictionary
dict_length = len(student)
print('The length of student dictionary is ',dict_length)

The length of student dictionary is  9

5. Get the value of skills and check the data type, it should be a list

In [38]:
# Value of skills in student dictionary
skill_values = student['skills']
print(skill_values)

# checking the data type for skills
dtype = type(skill_values)
print(dtype)

['java', 'python', 'C++', 'SQL']
<class 'list'>

6. Modify the skills values by adding one or two skills

In [39]:
# Adding one or two skills from the dictionary
skill_values = student['skills']
new_lst = ['R','Mathlab']
added_list = skill_values.extend(new_lst)
print(skill_values)

['java', 'python', 'C++', 'SQL', 'R', 'Mathlab']

7. Get the dictionary keys as a list

In [40]:
# Dictionary keys as list
for student_info in [student.keys()]:
    print(student_info)

# Alternatively
key_list = student.keys()
print(key_list)

dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address'])
dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address'])

8. Get the dictionary values as a list

In [41]:
# Dictionary values  as list
values_list = student.values()
print(values_list)

dict_values(['Abdul', 'kargbo', 'male', 26, 'single', ['java', 'python', 'C++', 'SQL', 'R', 'Mathlab'], 'sierra leone', 'freetown', '7 brass street'])

9. Change the dictionary to a list of tuples using items() method

In [42]:
# Changing dictionary to list of tuple
list = list(student.items())
print(list)

TypeError: 'list' object is not callable

10. Delete one of the items in the dictionary

In [ ]:
# Deleting first name in dictionary,student
del student['first_name']
print(student)

{'last_name': 'kargbo', 'gender': 'male', 'age': 26, 'marital_status': 'single', 'skills': ['java', 'python', 'C++', 'SQL', 'R', 'Mathlab'], 'country': 'sierra leone', 'city': 'freetown', 'address': '7 brass street'}

11. Delete one of the dictionaries

In [ ]:
# Delete dog dictionary
del dog
print(dog)